#include "resource.h"
#include <winres.h>

IDI_CLIPPING ICON "clipboard.ico"

1 24 "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Kevin Gosse"
            VALUE "FileDescription",  "ClipPing"
            VALUE "FileVersion",      "2.1.0.0"
            VALUE "InternalName",     "ClipPing"
            VALUE "OriginalFilename", "ClipPing.exe"
            VALUE "ProductName",      "ClipPing"
            VALUE "ProductVersion",   "2.1.0.0"
            VALUE "LegalCopyright",   "Kevin Gosse"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

IDD_SETTINGS DIALOGEX 0, 0, 250, 203
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ClipPing Settings"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "ClipPing displays a brief visual notification whenever you copy something to the clipboard.", -1, 7, 7, 236, 18
    LTEXT           "ClipPing adds this icon to the system tray next to the clock. Double-click it to open these settings.", -1, 7, 32, 215, 18
    ICON            IDI_CLIPPING, -1, 223, 30, 20, 20

    GROUPBOX        "Appearance", -1, 7, 62, 236, 72
    LTEXT           "Overlay color:", -1, 16, 77, 50, 8
    PUSHBUTTON      "Choose...", IDC_BTN_COLOR, 70, 75, 50, 14
    CONTROL         "", IDC_COLOR_PREVIEW, "Static", SS_OWNERDRAW | WS_BORDER, 126, 75, 30, 14

    LTEXT           "Overlay type:", -1, 16, 96, 50, 8
    COMBOBOX        IDC_CMB_OVERLAY, 70, 94, 86, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    PUSHBUTTON      "Preview", IDC_BTN_PREVIEW, 16, 113, 50, 14

    GROUPBOX        "General", -1, 7, 141, 236, 28
    AUTOCHECKBOX    "Start with Windows", IDC_CHK_AUTOSTART, 16, 153, 80, 10

    PUSHBUTTON      "Exit ClipPing", IDC_BTN_EXIT, 7, 181, 60, 14
    DEFPUSHBUTTON   "OK", IDOK, 193, 181, 50, 14
END

IDD_ABOUT DIALOGEX 0, 0, 200, 118
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About ClipPing"
FONT 9, "Segoe UI"
BEGIN
    ICON            IDI_CLIPPING, -1, 14, 14, 20, 20
    LTEXT           "ClipPing", -1, 42, 10, 100, 10
    LTEXT           "", IDC_VERSION, 42, 22, 100, 8
    LTEXT           "Visual clipboard notification for Windows", -1, 14, 42, 172, 8
    LTEXT           "Author: Kevin Gosse", -1, 14, 56, 172, 8
    CONTROL         "Twitter: <a href=""https://twitter.com/KooKiz"">@KooKiz</a>", IDC_LNK_TWITTER, "SysLink", WS_TABSTOP, 14, 70, 172, 10
    CONTROL         "GitHub: <a href=""https://github.com/kevingosse/ClipPing"">kevingosse/ClipPing</a>", IDC_LNK_GITHUB, "SysLink", WS_TABSTOP, 14, 82, 172, 10
    DEFPUSHBUTTON   "OK", IDOK, 75, 96, 50, 14
END

